<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AutoStartVPN</key>
	<string></string>
	<key>AutoStartVPNOnlyOffNet</key>
	<integer>0</integer>
	<key>DNSServiceResettingInterval</key>
	<integer>0</integer>
	<key>DisableConnectDisconnect</key>
	<integer>0</integer>
	<key>DisallowPersonalVPN</key>
	<integer>0</integer>
	<key>EnableIPSec</key>
	<integer>1</integer>
	<key>EnableSSL</key>
	<integer>1</integer>
	<key>InheritLocalDNS</key>
	<integer>0</integer>
	<key>IpsecShouldBlockIpv6</key>
	<integer>1</integer>
	<key>Profiles</key>
	<dict>
		<key>EXAMPLEORG</key>
		<dict>
			<key>AllowAutoConnect</key>
			<integer>0</integer>
			<key>AllowKeepRunning</key>
			<integer>0</integer>
			<key>AllowSavePassword</key>
			<integer>0</integer>
			<key>AuthInfo</key>
			<string></string>
			<key>CertCNMatchType</key>
			<string></string>
			<key>CertCNPattern</key>
			<string></string>
			<key>CertIssuerMatchType</key>
			<string></string>
			<key>CertIssuerPattern</key>
			<string></string>
			<key>Comment</key>
			<string></string>
			<key>EmsAllowAutoConnect</key>
			<integer>0</integer>
			<key>EmsAllowKeepRunning</key>
			<integer>0</integer>
			<key>EmsAllowSavePassword</key>
			<integer>0</integer>
			<key>EnableCustomPort</key>
			<integer>1</integer>
			<key>GotSettingsFromFGT</key>
			<integer>0</integer>
			<key>KeepRunning</key>
			<integer>0</integer>
			<key>KeepRunningMaxRetry</key>
			<integer>0</integer>
			<key>Name</key>
			<string>EXAMPLEORG</string>
			<key>PromptForAuthentication</key>
			<integer>1</integer>
			<key>PromptForCertificate</key>
			<integer>0</integer>
			<key>ProxyAddress</key>
			<string></string>
			<key>ProxyPassword</key>
			<string></string>
			<key>ProxyPort</key>
			<integer>0</integer>
			<key>ProxyUser</key>
			<string></string>
			<key>ReadOnly</key>
			<integer>0</integer>
			<key>SSOEnabled</key>
			<integer>0</integer>
			<key>SavePassword</key>
			<integer>0</integer>
			<key>SaveUsername</key>
			<integer>0</integer>
			<key>Server</key>
			<string>127.0.0.1</string>
			<key>ServerPort</key>
			<integer>443</integer>
			<key>ShowPasscode</key>
			<integer>0</integer>
			<key>SslVpnType</key>
			<string></string>
			<key>UseExternalBrowser</key>
			<integer>0</integer>
			<key>User</key>
			<string></string>
			<key>VpnType</key>
			<integer>0</integer>
			<key>WarnInvalidServerCertificate</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SslShouldBlockIpv6</key>
	<integer>1</integer>
	<key>WarnInvalidServerCertificate</key>
	<integer>1</integer>
</dict>
</plist>
